<div class="container mt-6 mx-auto">
    <table class="border border-blue-700 border-collapse w-full">
        <thead>
            <tr>
                <th class="border border-blue-500">Serial No</th>
                <th class="border border-blue-500">Product Name</th>
                <th class="border border-blue-500">Product Image</th>
                <th class="border border-blue-500">Price</th>
                <th class="border border-blue-500">Quantity</th>
                <th class="border border-blue-500">Action</th>
            </tr>
        </thead>
        <tbody >
            <tr >
                <td class="border border-blue-500">1</td>
                <td class="border border-blue-500">blah</td>
                <td class="border border-blue-500"><img src="" alt=""></td>
                <td class="border border-blue-500">12.22</td>
                <td class="border border-blue-500">2</td>
                <td class="border border-blue-500"><button> <i class="fa-solid fa-trash"></i></button></td>
            </tr>
        </tbody>
    </table>

    <div class="flex justify-center items-center">
        <p> <strong>Total Amount: 12</strong></p>
    </div>
</div>



