<div class="container mx-auto bg-blue-900 text-white font-medium ">
    <nav class="flex justify-between items-center mx-2 h-20">
        <div>
            <p class="text-3xl">Kassim Shop</p>
        </div>
        <ul class="flex justify-between items-center gap-12">
            <li>Home</li>
            <li>Products</li>
        </ul>
        <div class="">
            <i class="fa-solid fa-cart-shopping "></i><span class="bg-red-600 px-2 py-1 rounded-3xl">{{getCartItemCount()}}</span>
        </div>
    </nav>
</div>

